body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid black;
  padding: 10px;
  padding: 5px;

}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

#timeblock {
  text-align: center;
  border-radius: 5px;
  height: 100px;
  border: 3px solid black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(7, 7, 7);
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 10px solid #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}


.btn-primary {
  background-color: #85919d;
  border-color: #151d25;
  margin-top: 20px;
  width: 80px;
}

.btn-primary:hover {
  background-color: #b7c0ca;
  border-color: #262a2f;
  transition: all 0.3s ease-in-out;
}

.bgColorClass .past {
  background-color: #d3d3d3; /* gray */
}

.bgColorClass .present {
  background-color: #ff6961; /* red */
}

.bgColorClass .future {
  background-color: #77dd77; /* green */
}


